@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  margin: 0px;
  width: 100%;
  color: black;
}

header{
  padding: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1vw;
}

li {
  display: inline;
  float: right;
  padding: 8px;
}

#name{
  font-weight: bold;
}

#nav:visited{
  color: gray;
}

h1 {
  left: 0;
  right: 0;
  height: 50%;
  font-size: 81px;
  text-align: left;
  padding-left: 250px;
  padding-right: 300px;
  padding-top: 240px;
  padding-bottom: 400px;
  bottom: 0;
}

main {
  margin-left: 25px;
  margin-right: 25px;
  max-width: 800px;
}

a {
color: black;
}

a:link {
  text-decoration: none;
}

/* Blurring Effect for Landing Screen */
/* created using splitting.js */

.splitting {
  cursor: pointer;
}

.blur-it .char {
  color: black;
  transition: opacity 0.2s linear;
}

.blur-it .char:before, .blur-it .char:after {
  visibility: visible;
  opacity: 0;
}

.blur-it:hover .char {
  color: black;
}

.blur-it:hover .char:before, .blur-it:hover .char:after {
  opacity: 0.3;
  animation: blur 0.6s linear infinite alternate;
  animation-delay: calc(-0.2s * var(--distance-percent));
}

.blur-it:hover .char:after {
  animation-delay: calc(0.3s + (-0.2s * var(--distance-percent)));
}

@keyframes blur {
  0% {
    transform: translate(-0.1em, 0) scale(0.9) rotate(-2deg);
  }
  50% {
    transform: translate(0, 0) scale(1.1) rotate(0deg);
  }
  100% {
    transform: translate(0.1em, 0) scale(0.9) rotate(2deg);
  }
}

h3 {
  font-size: 7vw;
  text-align: left;
  padding-left: 1.3em;
}

.integratedcal{
  /* position: relative; */
  margin-top: -22%;
  flex: 50%;
  justify-content: flex-start;
  text-align: right;
  padding-right: 8.125em;
}

.text{
  text-align: left;
  padding-left: 130px;
  font-size: 0.8vw;
}

.brellagallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 5vw);
  grid-gap: 0.625em;
  padding-top: 0.625em;
  padding-left: 8.125em;
  padding-right: 11em;
  padding-bottom: 0.625em;
}

.sgallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 5vw);
  grid-gap: 0.625em;
  padding-top: 0.625em;
  padding-left: 8.125em;
  padding-right: 11em;
  padding-bottom: 0.625em;
}

.gallery-item1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-item2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery-item3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
/* 
 .sgallery-item1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.sgallery-item2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
} */

.sgallery-item3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
} 

.brellamockup{
  text-align: left;
  padding-left: 55px;
}

.seowonposter{
  text-align: right;
  padding-right: 11em;
}

/* .seowongallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 5vw);
  grid-gap: 50px;
  padding-top: 35px;
  padding-left: 130px;
  padding-right: 130px;
} */

.miyuko {
  text-align: right;
  padding-right:125px;
}

.smapmockup{
  text-align: left;
  padding-left: 70px;
}

/* Scrolling Fade Effect for Galleries */
/* created using scrollfade.js */

.scrollFade {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--hidden {
  opacity: 0.3;
  pointer-events: none;
}
.scrollFade--visible {
  opacity: 5;
  pointer-events: all;
}
.scrollFade--animate {
  transition: opacity 0.4s ease-in-out;
}

footer{
    font-size: 1vw;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* @media (max-width: 769px) {
  h1 {
    font-size: 20px;
    text-align: left;
    padding-left: 100px;
    padding-right: 125px;
    padding-top: 30px;
    padding-bottom: 100px;
  }
} */

@media(max-width: 413px){
  .blur-it{
    font-size: 24px;
  }
}

@media (max-width:  769px) {
  h1 {
    font-size: 40px;
    text-align: left;
    padding-left: 107px;
    padding-right: 117px;
    padding-top: 140px;
    padding-bottom: 210px;
  }

  /* h3 {
    font-size: 40px;
  } */

  .integratedcal{
    margin-top: -1%;
    text-align: center;
    padding: 0%;
  }

  .brellamockup{
    text-align: center;
    padding: 0%;
  }

  .seowonposter{
    text-align: center;
    padding: 0%;
  }

  .miyuko {
    text-align: center;
    padding: 0%;
  }

  .smapmockup{
    text-align: center;
    padding: 0%;
  }

}
